{% extends 'shared/_layout.html' %}
{% load render_partial %}

{% block title %}
    edit profile
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {% if now.avatar %}
                    <a href="#" class="thumbnail">
                        <img src="{{ now.avatar.url }}" alt="">
                    </a>
                {% endif %}
                {% render_partial 'user_module.views.user_panel_menu_component' %}
            </div>
            <div class="col-md-8">
                <form action="{% url 'edit_profile_page' %}" method="post" enctype="multipart/form-data  ">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="form-group col-md-12">
                        {% comment %}<input type="submit" name="submit" class="btn btn-primary pull-right" value="ارسـال">{% endcomment %}
                        <button type="submit" class="btn btn-primary pull-right">ارسال</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}